@use "variables" as *;

.board-wrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 140px;
  background-image: url(../../../../assets/bg.jpg);
  background-size: cover;
  padding: 10px;
  border-radius: $border-radius;
}
.board {
  height: 70%;
}
.board-preview {
  align-self: flex-end;
  height: 30%;
}
.board-preview:hover {
  background-color: $blue;
}
.board-title {
  font-size: var(--global--font-size-sm);
}

@media screen and (max-width: 320px) {
  .board-wrapper {
    max-width: calc(300px - 2rem);
  }
}
