@use "variables" as *;
.loader-container {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.header {
  height: 70px;
  width: 100vw;
  background-color: $blue-light;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .header-menu-container {
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
    row-gap: 0.3rem;

    .wrapper {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  .header-login-container {
    display: flex;
    column-gap: 1rem;
  }

  .home-btn {
    min-width: 2rem;
  }

  mat-slide-toggle {
    align-self: center;
  }
}
.mat-elevation-z5 {
  position: relative;
}
.sticky {
  position: fixed;
  top: 0px;
  height: 60px;
  transition: height 0.5s;
  z-index: 999;
  background-color: $ferra-light;
}

@media screen and (max-width: 750px) {
  .header {
    height: 130px;

    .header-menu-container {
      flex-direction: column;
      min-width: unset;

      mat-slide-toggle {
        align-self: auto;
      }
    }

    .header-login-container {
      flex-direction: column;
    }

    .header-menu-btn {
      width: 175px;
      padding: 0px;
    }
  }
}
