<div class="header" [ngClass]="{ 'mat-elevation-z5': true, sticky: isSticky }">
  <div class="container">
    <div class="header-menu-container">
      <div class="wrapper">
        <button mat-button class="home-btn" (click)="redirectToMainPage()">
          <span class="material-icons">home</span>
        </button>
        <mat-slide-toggle color="primary">ENG</mat-slide-toggle>
      </div>
      <button mat-raised-button class="header-menu-btn">
        <span>редактировать профиль</span>
      </button>
      <button mat-raised-button class="header-menu-btn" (click)="openCreateBoardModal()">создать новую доску</button>
    </div>
    <div class="header-login-container">
      <button mat-button class="login-btn" (click)="openLoginPage()">
        <span class="material-icons">login</span>
        Вход
      </button>
      <button mat-button class="login-btn" (click)="openRegistrationPage()">
        <span class="material-icons">person</span>
        Регистрация
      </button>
    </div>
  </div>
</div>
