<div class="header">
  <div class="header-menu-container">
    <mat-slide-toggle color="primary">ENG</mat-slide-toggle>
    <button mat-raised-button class="header-menu-btn">
      <span>редактировать профиль</span>
    </button>
    <button mat-raised-button class="header-menu-btn" (click)="openCreateBoardModal()">создать новую доску</button>
  </div>
  <div class="header-login-container">
    <button mat-raised-button (click)="openLoginPage()">
      <span class="material-icons">login</span>
      Вход
    </button>
  </div>
</div>
