@use "variables" as *;
.header {
  position: sticky;
  z-index: 999;
  top: 0px;
  height: 70px;
  background-color: $blue-light;
  display: flex;
  align-items: center;
  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  button:hover {
    background-color: $blue;
  }
  .header-menu-container {
    min-width: 30%;
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
    row-gap: 0.3rem;
  }
  .login-btn {
    background-color: transparent;
  }
  .login-btn:hover {
    background-color: transparent;
    color: $blue;
  }
}

@media screen and (max-width: 1500px) {
  .header-menu-container {
    min-width: 50%;
  }
}

@media screen and (max-width: 700px) {
  .header {
    height: 120px;
  }
  .header-menu-container {
    flex-direction: column;
    min-width: 100px;
    mat-slide-toggle {
      align-self: auto;
    }
  }
  .header-menu-btn {
    width: 175px;
    padding: 0px;
  }
}
