<div class="header">
  <div class="container">
    <div class="header-menu-container">
      <mat-slide-toggle>ENG</mat-slide-toggle>
      <button mat-raised-button class="header-menu-btn">редактировать профиль</button>
      <button mat-raised-button class="header-menu-btn">создать новую доску</button>
    </div>
    <div class="header-login-container">
      <button mat-flat-button class="login-btn" (click)="openLoginPage()">
        <span class="material-icons">login</span>
        Вход
      </button>
    </div>
  </div>
</div>
