<div class="new-board-modal">
  <div class="modal-container">
    <h2 mat-dialog-title>Создать доску</h2>

    <mat-dialog-content>
      <form [formGroup]="createBoardForm" class="form-create-board">
        <label class="label" for="title">Название</label>
        <input type="text" id="title" placeholder="Title" formControlName="title" />
        <span class="text-danger" *ngIf="createBoardFormControl.title.errors?.required">
          Пожалуйста введите название
        </span>
        <span
          class="text-danger"
          *ngIf="createBoardFormControl.title.errors?.minlength || createBoardFormControl.title.errors?.maxlength">
          Длина строки должна быть от 8 до 12 символов
        </span>
        <label class="label" for="description">Описание</label>
        <input type="text" id="descr" placeholder="Description" formControlName="description" />
        <span class="text-danger" *ngIf="createBoardFormControl.description.errors?.required">
          Пожалуйста введите описание
        </span>
        <span
          class="text-danger"
          *ngIf="
            createBoardFormControl.description.errors?.minlength || createBoardFormControl.description.errors?.maxlength
          ">
          Длина строки должна быть от 8 до 12 символов
        </span>
      </form>
    </mat-dialog-content>

    <mat-dialog-actions class="modal-buttons">
      <button class="mat-raised-button form-btn" (click)="close()">отмена</button>
      <button class="mat-raised-button form-btn" (click)="submit()">создать</button>
    </mat-dialog-actions>
  </div>
</div>
