:root {
  --global--color-black: #131317;
  --global--color-gray: #898E9B;
  --global--color-blue-10: #d7ddea;
  --global--color-blue-50: #0277bd;
  --global--color-blue-70: #546CA0;
  --global--color-blue-90: #0a0a0a;
  --global--color-ferra-10: #D5C7CB;
  --global--color-ferra-50: #8E6B73;
  --global--color-ferra-70: #5B444A;
}
