@use "variables" as *;

@use "@angular/material" as mat;

@include mat.core();

$project-management-app-primary: mat.define-palette(mat.$blue-gray-palette, 500);
$project-management-app-accent: mat.define-palette(mat.$blue-palette, 900);
$project-management-app-warn: mat.define-palette(mat.$red-palette);

$project-management-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $project-management-app-primary,
      accent: $project-management-app-accent,
      warn: $project-management-app-warn,
    ),
  )
);

@include mat.all-component-themes($project-management-app-theme);

body{
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

main {
  padding-bottom: 70px;
}

.container {
  max-width: 1800px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}

//buttons

button.mat-raised-button {
  background-color: $gray;
  color: white;
}

button:hover {
  background-color: $blue-dark;
  color: white;
}

button:disabled,
button:disabled:active{
  background-color: initial;
}

button:active {
  background-color: $primary-color;
  color: white;
}

button.mat-button {
  background-color: transparent;
  padding: 0;
  color: $gray;
}

button.mat-button:hover {
  background-color: transparent;
  color: $blue-dark;
}

button.mat-button:active {
  background-color: transparent;
  color: $primary-color;
}

mat-form-field {
  width: 100%;
}

.material-icons {
  font-size: 1.2rem;
}

@media screen and (max-width: 700px) {
  main {
    padding-bottom: 90px;
  }

  .container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
