<div class="wrapper">
  <div class="app">
    <h1 class="app-title">Kanban boards</h1>
    <p class="app-text">
      Kanban boards help you to put on display your workflow. By visualizing work on a Kanban board, you can gain a
      better understanding of your process and overall workload.
    </p>
    <div class="app-content">
      <div class="feature">
        <p class="feature-title"><span class="material-icons">event_available</span>Workflow Management</p>
        <p>Visualize your key processes and improve the efficiency of your workflow.</p>
      </div>
      <div class="feature">
        <p class="feature-title"><span class="material-icons">group_work</span>Team Collaboration</p>
        <p>Delegate task responsibility with your mates</p>
      </div>
      <div class="feature">
        <p class="feature-title"><span class="material-icons">search</span>Search</p>
        <p>
          Do you only want to view tasks that are assigned to you or someone in your team? Or only view blue tasks?
          Easily search for tasks on task name, user, description and task number.
        </p>
      </div>
      <div class="feature">
        <p class="feature-title">
          <span class="material-icons">timeline</span>Save Time Wasted on Unnecessary Meetings
        </p>
        <p>
          A significant benefit that comes with the implementation of Kanban boards is that they save you much time
          spent on meetings, progress reports, and many other unnecessary interruptions.
        </p>
      </div>
    </div>
  </div>
  <div class="about">
    <h2 class="about-title">About us</h2>
    <div class="about-us">
      <div class="about-one">
        <h3 class="name">Andrew</h3>
        <img class="img" src="../../../../assets/svg/Cozy Setting.svg" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione maiores, eaque reprehenderit velit ducimus
          dolorem dolor.
        </p>
      </div>
      <div class="about-one">
        <h3 class="name">Irina</h3>
        <img class="img" src="../../../../assets/svg/female developer 1.svg" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione maiores, eaque reprehenderit velit ducimus
          dolorem dolor.
        </p>
      </div>
      <div class="about-one">
        <h3 class="name">Veronika</h3>
        <img class="img" src="../../../../assets/svg/female developer.svg" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione maiores, eaque reprehenderit velit ducimus
          dolorem dolor.
        </p>
      </div>
    </div>
  </div>
</div>
