<div class="column">
  <div *ngIf="isTitleDisabled$ | async" class="column-title">
    <h2 (click)="enableTitleEditMode()">{{ title$ | async }}</h2>
    <button mat-button class="delete-btn" type="button" (click)="onDeleteButtonClick()">
      <span class="material-icons">delete</span>
    </button>
  </div>
  <form *ngIf="isTitleEnabled$ | async" class="title-form" [formGroup]="editTitleForm" (ngSubmit)="onTitleEditSubmit()">
    <div class="title-btns">
      <button mat-button type="button" (click)="onTitleEditCancel()" cdkFocusInitial>
        <span class="material-icons">close</span>
      </button>
      <button mat-button type="submit" [disabled]="!editTitleForm.valid">
        <span class="material-icons">done</span>
      </button>
    </div>
    <mat-form-field appearance="fill">
      <input type="text" matInput formControlName="title" />
      <mat-error>
        <span *ngIf="editTitleForm.controls['title'].hasError('required')">
          {{ TITLE_ERRORS_MESSAGES.required }}
        </span>
        <span *ngIf="editTitleForm.controls['title'].hasError('minlength')">
          {{ TITLE_ERRORS_MESSAGES.minLength }}
        </span>
        <span *ngIf="editTitleForm.controls['title'].hasError('maxlength')">
          {{ TITLE_ERRORS_MESSAGES.maxLength }}
        </span>
      </mat-error>
    </mat-form-field>
  </form>
  <div class="tasks-container">
    <app-task *ngFor="let task of tasks$ | async | sortByOrder" [task]="task" [columnId]="column.id"></app-task>
  </div>
  <button mat-raised-button (click)="openCreateTaskDialog()">+ создать задачу</button>
</div>
