<div class="column" *transloco="let t; lang: 'en'">
  <form class="title-form" [formGroup]="editTitleForm" (ngSubmit)="onTitleSubmit()">
    <div *ngIf="isTitleVisible$ | async" class="column-title">
      <h2 (click)="showEditTitleInput()">{{ title$ | async }}</h2>
      <button mat-button class="delete-btn" type="button" (click)="onDeleteButtonClick()">
        <span class="material-icons">delete</span>
      </button>
    </div>
    <div *ngIf="isTitleInputVisible$ | async" class="title-btns">
      <button mat-button type="button" (click)="onTitleCancel()" cdkFocusInitial>
        <span class="material-icons">close</span>
      </button>
      <button mat-button type="submit" [disabled]="!editTitleForm.valid">
        <span class="material-icons">done</span>
      </button>
    </div>
    <mat-form-field *ngIf="isTitleInputVisible$ | async" appearance="fill">
      <input type="text" matInput formControlName="title" />
      <mat-error>
        <span *ngIf="editTitleForm.controls['title'].hasError('required')">
          {{ t('column.validation.required') }}
        </span>
        <span *ngIf="editTitleForm.controls['title'].hasError('minlength')">
          {{ t('column.validation.minLength') }}
        </span>
        <span *ngIf="editTitleForm.controls['title'].hasError('maxlength')">
          {{ t('column.validation.maxLength') }}
        </span>
      </mat-error>
    </mat-form-field>
  </form>
  <div class="tasks-container">
    <app-task *ngFor="let task of tasks | sortByOrder" [task]="task" [columnId]="column.id"></app-task>
  </div>
  <button mat-raised-button (click)="openCreateTaskDialog()">+ {{ t('board.create-task') }}</button>
</div>
