@use "variables" as *;

.searched {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}
.search {
  padding: 1rem;
}
.search-input {
  background-color: transparent;
  height: 2rem;
  width: 13rem;
  border: 2px solid $gray;
}
.search-icon {
  vertical-align: middle;
  font-size: 2rem;
}
