<div class="footer">
  <div class="footer-container container">
    <div class="rs-logo">
      <a class="footer__link" href="https://rs.school/js/">
        <img
          class="footer__rss-logo"
          width="60"
          height="60"
          src="../../../../assets/svg/logo-rss.svg"
          alt="Rolling Scopes School logo" />
      </a>
    </div>
    <div class="github-members">
      <a class="footer__link" target="_blank" href="https://github.com/WeronikaFed">
        <svg-icon src="../../../../assets/svg/icon-github.svg" [svgStyle]="{ fill: '#546CA0' }"></svg-icon>
        <p class="name">WeronikaFed</p>
      </a>
      <a class="footer__link" target="_blank" href="https://github.com/personagrata9">
        <svg-icon src="../../../../assets/svg/icon-github.svg" [svgStyle]="{ fill: '#546CA0' }"></svg-icon>
        <p class="name">personagrata9</p>
      </a>
      <a class="footer__link" target="_blank" href="https://github.com/helacyan">
        <svg-icon src="../../../../assets/svg/icon-github.svg" [svgStyle]="{ fill: '#546CA0' }"></svg-icon>
        <p class="name">helacyan</p>
      </a>
    </div>
    <p class="year">2022</p>
  </div>
</div>
