.container {
  height: calc(100vh - 140px);
}

.wrapper {
  display: flex;
  height: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 1rem;
  overflow-x: scroll;
  overflow-y: hidden;

  button {
    height: 2.25rem;
    min-width: fit-content;
  }
}

@media screen and (max-width: 700px) {
  .container {
    height: calc(100vh - 210px);
  }
}
