<div class="container">
  <h2>{{ boardTitle }}</h2>
  <div cdkDropList cdkDropListOrientation="horizontal" class="columns-container" (cdkDropListDropped)="drop($event)">
    <div
      class="column-box"
      *ngFor="let column of columns$ | async"
      cdkDrag
      [cdkDragDisabled]="cdkDragDisabled$ | async"
      [appCursorMove]="cdkDragDisabled$ | async">
      <app-column [column]="column">
        <div class="column-placeholder" *cdkDragPlaceholder></div>
      </app-column>
    </div>
    <button mat-raised-button (click)="openCreateColumnDialog()">+ создать колонку</button>
  </div>
</div>
