@use "variables" as *;

.container {
  height: calc(100vh - 140px - 2rem);
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-image: url('../../../../assets/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  height: 2rem;
  padding-left: 1rem;
  color: $blue-dark;
}

.columns-container {
  display: flex;
  gap: 1rem;
  height: calc(100vh - 140px - 4rem);
  overflow-x: scroll;
  overflow-y: hidden;

  button {
    height: 2.25rem;
    min-width: fit-content;
  }

  .column-placeholder {
    width: calc(320px - 1rem);
    height: inherit;
    background-color: $gray;
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  &.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}


@media screen and (max-width: 700px) {
  .container {
    height: calc(100vh - 220px - 2rem);
  }

  .columns-container {
    height: calc(100vh - 220px - 4rem);
  }
}
