<mat-card [appMatCardBackgroundColor]="isTaskOwnByCurrentUser$ | async">
  <mat-card-title
    >{{ title }}
    <button
      *ngIf="isTaskOwnByCurrentUser$ | async"
      mat-button
      class="delete-btn"
      type="button"
      (click)="onDeleteButtonClick()">
      <span class="material-icons">delete</span>
    </button>
  </mat-card-title>
  <mat-card-content>
    <p class="description">{{ description }}</p>
    <p>Исполнитель: {{ executor }}</p>
    <mat-checkbox *ngIf="done" [(ngModel)]="done" [appCheckboxColor]="done">Выполнено</mat-checkbox>
  </mat-card-content>
</mat-card>
