@use "variables" as *;
.main {
  height: 100%;
  padding: 1rem;
  .boards-list {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
.search {
  padding: 1rem;
  text-align: right;
}
.search-input {
  background-color: transparent;
  border: 1px solid $gray;
  vertical-align: middle;
}
.search-icon {
  vertical-align: middle;
}

