@use "variables" as *;
.main {
  height: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  .boards-list {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
.search {
  padding-bottom: 1rem;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
}
.search-input {
  background-color: transparent;
  vertical-align: middle;
  height: 2rem;
  width: 13rem;
  border: 2px solid $gray;
  padding-left: 0.3rem;
}
.search-icon {
  vertical-align: middle;
  font-size: 2rem;
}

